<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Service Types</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="row card-content">
                        <div class="col-md-6 form-group">
                            <!--<label class="col-md-2">Search: </label>
                            <input class="form-control col-md-9" placeholder="search by name">-->
                        </div>
                        <div class="col-md-6">
                            <a href="" (click)="openAddEditServiceTypeDialog(0)" style="margin-right:10px; margin-top:10px;" class="btn btn-default pull-right mb-4"
                               data-toggle="modal" data-target="#modalNewServiceTypeForm">Add new</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>English Name</th>
                                    <th>Arabic Name</th>
                                    <th>Period</th>
                                    <!--<th>Need approve</th>-->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of serviceTypes">
                                    <td hidden>{{item.id}}</td>
                                    <td>{{item.nameEn}}</td>
                                    <td>{{item.nameAr}}</td>
                                    <td>{{item.period}}</td>
                                    <!--<td>{{item.needApprove ? '\u2713' : '\u2718'}}</td>-->
                                    <td>
                                        <a href="javascript:void(0)" (click)="openAddEditServiceTypeDialog(item.id)">
                                            <span>
                                                Edit
                                            </span>
                                        </a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="deleteServiceType(item.id)">
                                            <span>
                                                Delete
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>