<div class="main-content">
    <div class="container-fluid">
        <div class="row pull-right">
            <button class="btn btn-twitter" (click)="print()">
                <span class="fa fa-print"></span> Print
            </button>
        </div>
        <div id="print-section" *ngIf="garadeData?.length > 0">
            <div class="row">
                <table class="table" style="margin-bottom:0;">
                    <tr>
                        <td>
                            <h4 class="title col-md-10 reportTitle">Daily Work of Garage الأعمال اليومية بالجراج</h4>
                        </td>
                        <td>
                            <a class="pull-right">
                                <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive" alt="">
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="col-md-12"></div>
                <div class="col-md-8">
                    <label>Date</label><br>
                    <input [matDatepicker]="myDatepicker" class="form-control col-md-8" placeholder="dd-mm-yyyy" name="date_Out" [(ngModel)]="startDate"
                           (focus)="myDatepicker.open()" (click)="myDatepicker.open()" readonly style="cursor:pointer;">
                    <mat-datepicker #myDatepicker></mat-datepicker>
                    <!-- <a *ngIf="startDate" (click)="clearEndDate()" class="iconClear">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a> -->
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-default" (click)="getGarageData()" style="height:40px;margin-left:-3px;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn text-center" (click)="clearEndDate()" style="margin-left:2%;margin-top: 1%;">Clear</button>
                    </div>
                </div>
                <!-- <p class="col-md-2">Date:{{today |date:'dd/M/yyyy'}}</p> -->
            </div>

            <!-- /////////////////////// Work Description ////////////////////////////////////////// -->
            <div class="row">
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
                <div class="col-md-12" *ngIf="garadeData?.length > 0">
                    <!-- <div class="card"> -->
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Notes ملاحظات</th>
                                    <th>Spare Parts قطع غيار</th>
                                    <th>Fleet NO رقم المعدة</th>
                                    <th>م</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of garadeData;let i=index">
                                    <td></td>
                                    <td>
                                        <li *ngFor="let sparePart of item.spareParts">{{sparePart.name_EN}}/{{sparePart.name_ER}}</li>
                                    </td>
                                    <td>{{item.fleetNo}}</td>
                                    <td>{{i+1}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- </div> -->
                </div>

            </div>
            <div class="row" style="margin-top:3%">
                <div class="col-md-12">
                    <p class="col-md-1 sign">Marks:</p>
                    <hr class="col-md-4" style="margin-top:5px;">
                </div>
                <!-- <div class="col-md-12" style="margin-top:3%">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Issue Date</th>
                                    <th>Version No./Date</th>
                                    <th>Page Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KCRM/MNT/FR/02</td>
                                    <td>13/5/2018</td>
                                    <td>V1/13/53208</td>
                                    <td>1/1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
            </div>
        </div>
        <b *ngIf="garadeData?.length == 0">No Items Found</b>
    </div>
</div>