<div class="main-content">
    <div class="container-fluid">
        <h4 class="title">Spare Parts Usage Report</h4>
        <app-job-card-repair-request-search-criteria #ctrlSearchCriteria
                                                     [showServiceTypes]="false"
                                                     [showCustomerName]="false">
        </app-job-card-repair-request-search-criteria>

        <div class="row col-md-12">

            <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                <span class="fa fa-eraser"></span> Clear
            </button>
            <button type="submit" class="btn btn-default" (click)="searchRepairRequestSparParts()" style="margin: 10px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </button>
            <button class="btn btn-default" (click)="printRepairRequestSpareParts()" style="margin: 10px;">
                <span class="fa fa-print"></span> Print
            </button>
        </div>
    </div>

    <div id="print-section" *ngIf="repairRequestSpareParts?.length > 0">
        <div class="row">
            <mdl-spinner [active]="showLoading" class="text-center"></mdl-spinner>
            <div class="container-fluid">
                <div class="table-responsive" *ngIf="repairRequestSpareParts?.length > 0">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Job Card ID</th>
                                <th>Job Card Date</th>
                                <th>Fleet No</th>
                                <th>Rep. Req. ID</th>
                                <th>S.P Serial No.</th>
                                <th>Spare Part</th>
                                <th>Source</th>
                                <th>Qty</th>
                                <th>Total Cost</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rRequestSparePart of repairRequestSpareParts">
                                <td>{{rRequestSparePart.jobCardId}}</td>
                                <td>{{rRequestSparePart.jobCard?.dateIn | date:'dd/MM/yyyy'}}</td>
                                <td>{{rRequestSparePart.vehicle?.fleetNumber}}</td>
                                <td>{{rRequestSparePart.repairRequestId}}</td>
                                <td>{{rRequestSparePart.sparePart?.serialNumber}}</td>
                                <td>{{rRequestSparePart.sparePart?.nameEn}}</td>
                                <td>{{rRequestSparePart.source}}</td>
                                <td>{{rRequestSparePart.quantity}}</td>
                                <td>{{rRequestSparePart.amount}}</td>
                                <td>{{rRequestSparePart.comments}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <b *ngIf="showNoDataFoundLabel">No spare part items found.</b>
</div>
