<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Roles</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <!--<div class="row">
                        <div class="col-sm-12">
                            <a href="" (click)="openAddRole()" style="margin-right: 10px; margin-top: 10px;"
                               class="btn btn-default pull-right mb-4" data-toggle="modal" data-target="#modalNewServiceTypeForm">
                                Add New
                            </a>
                        </div>
                    </div>-->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Role Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of roles">
                                    <td hidden>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>
                                        <!--<a href="javascript:void(0)" (click)="modalEditRole.showDialog(item)"><span>Edit</span></a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="deleteRole(item.name)"><span>Delete</span></a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-role-edit #modalEditRole (dialogClosed)="getAllRoles()"></app-role-edit>  