.alert-info {
    background: #555 !important;
}

.table-bordered {
    border: 1px solid #a3a4a5;
}

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #797979;
        font-size: 14px !important;
    }

tr th {
    font-weight: 600 !important;
}

h5 {
    font-weight: 600 !important;
}

thead {
    background: #555 !important;
}

hr {
    border-top: 2px solid #000;
}

* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
}

.reportTitle {
    margin-left: -38px;
    font-weight: 700;
}

.table > thead > tr > th {
    text-transform: capitalize;
}

.alert-info {
    margin-top: 2%;
}
