<div class="main-content">
    <div class="container-fluid">
        <div class="row pull-right printBtn">
            <button class="btn btn-twitter" (click)="print()">
                <span class="fa fa-print"></span> Print
            </button>
        </div>
        <div id="print-section" class="col-md-12" *ngIf="spareParts?.length > 0 || model != {} ||repairRequests?.length > 0">
            <div class="container-fluid">
                <table class="table" *ngIf="spareParts?.length > 0 || model != {}">
                    <tr>
                        <td>
                            <h4 class="title col-md-10 reportTitle">Job Card</h4>
                        </td>
                        <td>
                            <a class="pull-right">
                                <img src="assets/img/vmcLogo.png" width="160" class="img-responsive" alt="">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row" *ngIf="uploadedFiles?.length > 0">
                <label>Attached files</label>
                <ul>
                    <li *ngFor="let item of uploadedFiles">
                        <a href="{{item.fileUrl}}" target="blank">{{item.fileName}}</a>
                    </li>
                </ul>
            </div>

            <!-- General Information -->
            <div class="row" *ngIf="model != {}">
                <div class="col-md-12">
                    <p class="title">Job Card ID #: {{model.id}}</p>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <span>1. General Information</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b class="col-md-4">Requested By:</b> {{model.createdByUser?.fullName}}
                                    </td>
                                    <td>
                                        <b class="col-md-4">Project:</b> {{model.vehicle?.customerName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b class="col-md-4">Date:</b> {{model.dateIn | date:'d/MM/yyyy'}}
                                    </td>
                                    <td>
                                        <b class="col-md-4"></b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b class="col-md-4">Odometer:</b> {{model.odometer}}
                                    </td>
                                    <td>
                                        <b class="col-md-4">Hour meter:</b> {{model.hourmeter}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <b class="col-md-8">Vehicle description</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b class="col-md-4">Vehicle Plate #:</b> {{model.vehicle?.plateNumber}}
                                    </td>
                                    <td>
                                        <b class="col-md-4">Vehicle Fleet #:</b> {{model.vehicle?.fleetNumber}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Work Description -->
            <div class="row">
                <div class="col-md-12">
                    <h5 class="title">Work Description</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead thead-dark>
                                <tr>
                                    <th>Repair Request ID</th>
                                    <th>Service Name</th>
                                    <th>Comment</th>
                                    <th>Place</th>
                                    <th>Repair Request Type</th>
                                    <th>Repair Request Status</th>
                                    <th>Duration (Hours)</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of repairRequests">
                                    <td>{{item.id}}</td>
                                    <td>{{item.serviceType.nameEn}}</td>
                                    <td style="min-height:44px;">{{item.comment}}</td>
                                    <td>{{item.external? 'OSP':'Internal'}}</td>
                                    <td>{{item.repairRequestType.nameEn}}</td>
                                    <td>{{item.repairRequestStatus.nameEn}}</td>
                                    <td>{{item.duration}}</td>
                                    <td>{{item.cost}}</td>
                                </tr>
                                <tr *ngIf="repairRequests?.length == 0">
                                    <td colspan="8">
                                        No repair requests for this job card.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Transport Supervisor's Signature:</td>
                            <td style="width:30%">
                                ................................
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Task -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <span>2. Tasks</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead thead-dark>
                                <tr>
                                    <th>Repair Request ID</th>
                                    <th>Spare Part Serial</th>
                                    <th>Spare Part Name</th>
                                    <th>Quantity</th>
                                    <th>Cost</th>
                                    <th>Technician Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of spareParts">
                                    <td>{{item.repairRequestId}}</td>
                                    <td>{{item.sparePart?.serialNumber}}</td>
                                    <td>{{item.sparePart?.nameEn}} / {{item.sparePart?.nameAr}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.technician?.fullName}}</td>
                                    <td>{{item.startDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.endDate | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr *ngIf="spareParts?.length == 0">
                                    <td colspan="8">
                                        There is no spare parts for this job card.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td style="width: 15%">Vehicle Time In:</td>
                            <td style="width: 10%">
                                {{model.dateIn | date: "dd-MM-yyyy HH:mm"}}
                            </td>
                            <td style="width: 15%">Vehicle Time Out:</td>
                            <td style="width: 10%">
                                {{model.dateOut | date: "dd-MM-yyyy HH:mm"}}
                            </td>
                            <td style="width: 10%">Date:</td>
                            <td style="width: 10%">
                                {{model.dateIn | date: "dd-MM-yyyy"}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--  /////////////////////// Task Completion////////////////////////////////////////// -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <span>3. Tasks Completion/ Closing of Job Card</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>
                        I the undersigned, ensures that the requested maintenance job has been done in the right way & meet the
                        expected result.
                    </p>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Foreman / Supervisor:</td>
                            <td style="width:30%">
                                ................................
                            </td>
                            <td>Signature:</td>
                            <td style="width: 30%">
                                ................................
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <label>Receipt Certificate:</label>
            </div>
            <div class="row">
                <label>Received the above mentioned vehicle/ equipment in a good working condition.</label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Driver / User:</td>
                            <td style="width:30%">
                                ................................
                            </td>
                            <td>Date:</td>
                            <td style="width: 30%">
                                ................................
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
