<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Drivers</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-12">
                        <form (submit)=searchDriver()>
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                                <div class="input-group">
                                    <input type="text" name="query" class="form-control" placeholder="Search by Name" [(ngModel)]="query">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" (click)="searchDriver()" type="button" style="height:40px;">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-6 pull-right">
                            <a href="" (click)="openAddEditDriverDialog(0)" style="margin-right:10px; margin-top:10px;" class="btn btn-default pull-right mb-4"
                               data-toggle="modal" data-target="#modalNewDriverForm">Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Full Name</th>
                                    <th>License Number</th>
                                    <th>Address</th>
                                    <th>Title</th>
                                    <th>License Issued Date</th>
                                    <th>License Issued State</th>
                                    <th>Active</th>
                                    <th>SSN</th>
                                    <th>Employee Id</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of drivers">
                                    <td hidden>{{item.id}}</td>
                                    <td>{{item.firstName}} {{item.lastName}}</td>
                                    <td>{{item.licenseNumber}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.licenseIssuedDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.licenseIssuedState}}</td>
                                    <td>{{item.active ? "Active" : "Inactive"}}</td>
                                    <td>{{item.ssn}}</td>
                                    <td>{{item.employeeId}}</td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="modalDriverEdit.showDialog(item)">
                                            <span>
                                                Edit
                                            </span>
                                        </a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="deleteDriver(item.id)">
                                            <span>
                                                Delete
                                            </span>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-driver-edit #modalDriverEdit (dialogClosed)="getAllDriver();"></app-driver-edit>