<div class="main-content">
    <div class="container-fluid">
        <div class="row card">
            <div class="container-fluid" style="margin:1%">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Date</label><br>
                        <input [matDatepicker]="myDatepicker" class="form-control col-md-8" placeholder="dd-mm-yyyy" name="date_Out" [(ngModel)]="startDate"
                            (focus)="myDatepicker.open()" (click)="myDatepicker.open()" readonly style="cursor:pointer;">
                        <mat-datepicker #myDatepicker></mat-datepicker>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-default" (click)="getAllequipmentTransferByDate()" style="height:40px;margin-left:-3px;">
                                <i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Transfer From</label>
                        <input type="text" id="vehicle-fleetNumber" [(ngModel)]="fleetNum" name="fleetNumber" [matAutocomplete]="auto" class="form-control">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getAllEquipmentWithFleetNumFrom(fleetNum)' aria-placeholder="choose fleet Number">
                            <mat-option *ngFor="let fleet of vehicles | FilterQuery:fleetNum" [value]="fleet.fleetNumber">
                                {{ fleet.fleetNumber }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-md-3">
                        <label>Transfer To</label>
                        <input type="text" id="vehicle-fleetNumber" [(ngModel)]="fleetNumTo" name="fleetNumber" [matAutocomplete]="auto" class="form-control">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getAllEquipmentWithFleetNumTo(fleetNumTo)' aria-placeholder="choose fleet Number">
                            <mat-option *ngFor="let fleet of vehicles | FilterQuery:fleetNumTo" [value]="fleet.fleetNumber">
                                {{ fleet.fleetNumber }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
                <button class="btn text-center" (click)="clearSheaarch()" style="margin-left:2%;margin-top: 1%;">Clear</button>
            </div>
        </div>
        <div class="row">
                <div class="col-md-1 col-md-offset-11 pull-right">
                    <button class="btn btn-twitter" (click)="print()">
                        <span class="fa fa-print"></span> Print</button>
                </div>
            </div>
        <div id="print-section" *ngIf="equipments.length > 0">
                <table class="table" style="margin-bottom:0;">
                        <tr>
                            <td>
                                <h4 class="title col-md-10 reportTitle">Equipment Transfer Form</h4>
                            </td>
                            <td>
                                <a class="pull-right">
                                    <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive">
                                </a>
                            </td>
                        </tr>
                    </table>

            <!-- /////////////////////// Work Description ////////////////////////////////////////// -->
            <div class="row">
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
                <div class="col-md-12">
                    <!-- <div class="card"> -->
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>

                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Capacity</th>
                                    <th>Make</th>
                                    <th>Quality</th>
                                    <th>Date</th>
                                    <th>Insured Amount (KD)</th>
                                    <th>Transer From</th>
                                    <th>Transer To</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of equipments">
                                    <td>{{item.nameEn}} / {{item.nameAr}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.capacity}}</td>
                                    <td>{{item.make}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.date |date:'dd/M/yyyy'}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.transferFromFleetNumber}}</td>
                                    <td>{{item.transferToFleetNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- </div> -->
                </div>

            </div>
            <div class="row" style="margin-top: 3%">
                <div class="col-md-12">
                    <p class="col-md-1 sign">Marks:</p>
                    <hr class="col-md-4" style="margin-top:5px;">
                </div>
                <!-- <div class="col-md-12" style="margin-top: 3%">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Issue Date</th>
                                    <th>Version No./Date</th>
                                    <th>Page Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KCRM/MNT/FR/02</td>
                                    <td>13/5/2018</td>
                                    <td>V1/13/53208</td>
                                    <td>1/1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
            </div>
        </div>
        <p *ngIf="equipments?.length == 0">no items found</p>

    </div>