<div class="card" *ngIf="requestSpareParts?.length != 0">
    <div class="table-responsive">
        <table class="table table-hover table-striped ">
            <thead thead-dark>
                <tr>
                    <th hidden>ID</th>
                    <th>S.P ID</th>
                    <th>S.P Serial No.</th>
                    <th>Spare Part Name</th>
                    <th>Qty</th>
                    <th *ngIf="showTotalCost">Total Cost</th>
                    <th>Technician Working Time</th>
                    <th>KM Change S.P</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of requestSpareParts">
                    <td hidden>{{item.id}}</td>
                    <td>{{item.sparePart?.id}}</td>
                    <td>{{item.sparePart?.serialNumber}}</td>
                    <td>{{item.sparePart?.nameEn}}<br />({{item.source}})</td>
                    <td>{{item.quantity}}</td>
                    <td *ngIf="showTotalCost">{{item.amount}}</td>
                    <td>
                        {{item.technician?.fullName}}<br />
                        {{item.technicianStartDate | date:'dd/MM/yyyy hh:mm a'}}<br />
                        {{item.technicianEndDate | date:'dd/MM/yyyy hh:mm a'}}
                    </td>
                    <td>{{item.kiloMetersChangeSparePart}}</td>
                    <td>
                        <a *ngIf="showEditButton" href="javascript:void(0)"
                           (click)="editRepairRequestSparePart(item)"><span>Edit</span></a>
                        <a *ngIf="showDeleteButton" href="javascript:void(0)"
                           (click)="deleteRepairRequestSparePart(item.id)"><span>Delete</span></a>
                    </td>
                </tr>
            </tbody>
            <p *ngIf="requestSpareParts?.length == 0">
                No spare part items found for this repair request.
            </p>
        </table>
    </div>
</div>
