<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="col-md-12" style="padding:10px;">
                <div class="col-md-5 form-inline">
                    <label class="title">Vendor:
                        <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                    </label>
                    <input type="text" [(ngModel)]="vendorId" name="vendorId" [matAutocomplete]="auto" class="form-control col-md-6" style="background:transparent !important"
                        placeholder="select vendor first" style="margin-left:15px" [formControl]="myControl">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option (onSelectionChange)="getVendorsReportData(item.id)" *ngFor="let item of vendors" [value]="item.name">
                            {{ item.name }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <!-- <div class="col-md-5 form-inline">
                    <label class="title">Vendor:
                        <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                    </label>
                    <ngx-select-dropdown class="col-md-6" (change)="getVendorsReportData(dataModel)" [config]="config" 
                        [options]="vendors" [(value)]="dataModel">
                    </ngx-select-dropdown>
                </div> -->

                <div class="col-md-1">
                    <button class="btn" (click)="clearShearch()">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 pull-right">
        <button class="btn btn-info" (click)="print()">
            <span class="fa fa-print"></span> Print</button>
    </div>
    <div id="print-section" *ngIf="reportResult?.files?.length > 0">
        <div class="container-fluid">
            <table class="table" style="margin-bottom:0;">
                <tr>
                    <td>
                        <h4 class="title col-md-10 reportTitle">ٍSpare Parts Report</h4>
                    </td>
                    <td>
                        <a class="pull-right">
                            <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /////////////////////// Work Description ////////////////////////////////////////// -->
        <div class="row">
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="container-fluid">
                <div class="table-responsive" *ngIf="reportResult?.files?.length > 0">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Vendor</th>
                                <th>File Name</th>
                                <th>Repair Request</th>
                                <th>Cost</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reportResult.files">
                                <td>{{item.vendor_Name}}</td>
                                <td>{{item.fileName}}</td>
                                <td>{{item.fK_RepairRequest_ID}}</td>
                                <td>{{item.repairRequest_Cost}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <table class="table table-bordered">
                    <tr class="approveSign">
                        <td>Prepeard By:</td>
                        <td>Received By:</td>
                    </tr>

                </table>
                <!-- </div> -->
            </div>

        </div>
        <div class="container-fluid note">
            <div class="col-md-12">
                <h5 class="col-md-3 sign">Department Supervisor Approval:</h5>
            </div>
            <p>Note: Person (s) should verify items are correct before leaving store.</p>
            <!-- <div class="col-md-12">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Issue Date</th>
                                    <th>Version No./Date</th>
                                    <th>Page Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KCRM/MNT/FR/02</td>
                                    <td>13/5/2018</td>
                                    <td>V1/13/53208</td>
                                    <td>1/1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
        </div>
    </div>
    <b *ngIf="reportResult?.length == 0">no items found</b>

</div>