<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Users</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-12">
                        <form (submit)=searchUsers()>
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                                <div class="input-group">
                                    <input type="text" name="keyword" class="form-control" placeholder="Search by Name" [(ngModel)]="keyword">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" (click)="searchUsers()" type="button" style="height:40px;">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-5 pull-right">
                            <a href="" (click)="openAddUser()" style="margin-right:10px; margin-top:10px;" class="btn btn-default pull-right mb-4"
                               data-toggle="modal" data-target="#modalRegisterForm">Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Full Name</th>
                                    <th>User Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of users">
                                    <td hidden>{{item.id}}</td>
                                    <td>{{item.firstName}} {{item.lastName}}</td>
                                    <td>{{item.userName}}</td>
                                    <td>{{item.phoneNumber}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.roleNames[0]}}</td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="modalEditUser.shows(item)">
                                            <span>
                                                Edit
                                            </span>
                                        </a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="modalEditUserPassword.show(item)">
                                            <span>
                                                Edit Password
                                            </span>
                                        </a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="deleteUser(item.userName)">
                                            <span>
                                                Delete
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-register #modal></app-register>
<app-user-edit #modalEditUser (dialogClosed)="searchUsers()"></app-user-edit>
<app-user-change-password #modalEditUserPassword></app-user-change-password>