<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th>Id</th>
                                    <th>User Full Name</th>
                                    <th>Job Card Id</th>
                                    <th>Repair Request Type Name</th>
                                    <th>Repair Request Status Name</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of repairrequests">
                                    <td>{{item.id}}</td>
                                    <td>{{item.user_Name}}</td>
                                    <td>{{item.fK_JobCard_ID}}</td>
                                    <td>{{item.repairRequestType_Name}}</td>
                                    <td>{{item.repairRequestStatus_Name}}</td>

                                    <td><a [routerLink]="['../external_repairrequestdetails', item.id]"><span>
                                        Details
                                    </span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>