<div class="main-content">
    <div class="container-fluid">
        <h3>Material Requisition Report</h3>
        <!--<div class="card">
            <div class="col-md-12" style="padding: 10px;">
                <div class="col-md-6 form-inline">
                    <label class="title">
                        Repair Request Id:
                        <span style="color: red;">*</span>
                    </label>
                    <select [(ngModel)]="repairRequestId" name="ddlRepairRequestId" id="ddlRepairRequestId" class="form-control">
                        <option [ngValue]="0">-- All --</option>
                        <option *ngFor="let item of allRepairRequests" [ngValue]="item.id">{{item.id}}</option>
                    </select>
                    <input type="text" [(ngModel)]="repairRequestId" name="repairRequestId"
                               [matAutocomplete]="auto" class="form-control col-md-6"
                               style="background: transparent !important; margin-left:15px"
                               placeholder="select repair request first">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option (onSelectionChange)="getMaterialRequestionReportData(item.id)"
                                    *ngFor="let item of allRepairRequests | FilterQuery:repairId"
                                    [value]="item.id">

                        </mat-option>
                    </mat-autocomplete>
                    <button class="btn" (click)="clearSheaarch()" style="margin-left: 2%;">Clear</button>
                </div>
            </div>
        </div>-->
        <!--<div class="col-md-1 pull-right">
            <button class="btn btn-info" (click)="print()">
                <span class="fa fa-print"></span> Print
            </button>
        </div>-->
        <div class="row">
            <!--<button type="submit" class="btn btn-default" (click)="getMaterialRequestionReportData()" style="margin: 10px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </button>
            <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                <span class="fa fa-eraser"></span> Clear
            </button>-->

            <button class="btn btn-default" (click)="printEmptyMaterialRequisitionReport()" style="margin: 10px;">
                <span class="fa fa-print"></span> Print Blank Material Requisition Report
            </button>
        </div>
        <div id="print-section" style="display: none">
            <div class="row">
                <table class="table" style="margin-bottom: 0;">
                    <tr>
                        <td>
                            <h4 class="title col-md-10 reportTitle">Material Requisition</h4>
                        </td>
                        <td>
                            <a class="pull-right">
                                <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive" alt="">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Work Description -->
            <div class="row">
                <!--<mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>-->

                <!--<div class="col-md-12" *ngFor="let item of reportResult">
                    <h5>Requesting Department</h5>
                    <table class="table table-bordered">
                        <tr>
                            <td style="width: 20%">Items Requested by</td>
                            <td>{{item.supervisor}}</td>
                        </tr>
                        <tr>
                            <td>Fleet#</td>
                            <td>{{item.fleetNo}}</td>
                        </tr>
                    </table>

                    <div class="table-responsive" style="margin-top: 3%" *ngIf="item?.spareParts?.length > 0">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Sr#</th>
                                <th>Name</th>
                                <th>Part Code</th>
                                <th>Parts Description</th>
                                <th>Source</th>
                                <th>Qty</th>
                                <th>Amount</th>
                                <th>Source</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr *ngFor="let spare of item.spareParts;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{spare.sparePart_Name}}</td>
                                <td>{{spare.serialNumber}}</td>
                                <td>{{spare.description}}</td>
                                <td>{{spare.source}}</td>
                                <td>{{spare.cost}}</td>
                                <td>{{spare.amount}}</td>
                                <td>{{spare.source}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <table class="table table-bordered">
                        <tr class="approveSign">
                            <td>Prepeard By:</td>
                            <td>Received By:</td>
                        </tr>

                    </table>
                </div>-->

            </div>
            <div class="row note">
                <div class="col-md-12">
                    <h5 class="col-md-3 sign">Department Supervisor Approval:</h5>
                </div>
                <p>Note: Person (s) should verify items are correct before leaving store.</p>
            </div>
        </div>
        <!--<b *ngIf="reportResult?.length == 0">No items found.</b>-->
    </div>
</div>