<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Vehicle types</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-12">
                        <form (submit)=searchVehicleTypes()>
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group top_search">
                                <div class="input-group">
                                    <input type="text" name="query" class="form-control" placeholder="Search by Name"
                                        [(ngModel)]="query">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" (click)="searchVehicleTypes()" type="button" style="height:40px;">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-6 pull-right">
                            <a href="" (click)="openAddEditDialog(0)" style="margin-right:10px; margin-top:10px;" class="btn btn-default pull-right btn-rounded mb-4"
                                data-toggle="modal" data-target="#modalNewVehicleForm">Add new</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Vehicle Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of vehicleTypes">
                                    <td hidden>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="openAddEditDialog(item.id)">
                                            <span>
                                                <u>Edit</u>
                                            </span>
                                        </a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="deleteVehicleType(item.id)">
                                            <span>
                                                <u>Delete</u>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>