<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h6 style="margin-left:-7px;">Edit Driver</h6>
                <button type="button" class="close pull-right col-md-offset-9" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                        <div class="col-md-4">
                            <label data-error="wrong" data-success="right" for="driver-firstName">
                                First Name
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" maxlength="50" id="driver-firstName" [(ngModel)]="model.firstName" name="firstName" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-lastName">
                                Last Name
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" maxlength="50" id="driver-lastName" [(ngModel)]="model.lastName" name="lastName" class="form-control">
                        </div><div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-phoneNumber">
                                Phone Number
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" id="driver-phoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber"
                                   class="form-control" (keypress)="keyPress($event)" minlength="8" maxlength="15">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-address">
                                Address
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" maxlength="200" id="driver-address" [(ngModel)]="model.address" name="address" class="form-control">
                        </div>

                        <div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-title">
                                Title
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" id="driver-title" maxlength="100" [(ngModel)]="model.title" name="title" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-employeeId">
                                Employee Id
                                <span style="color: red">*</span>
                            </label>
                            <input type="number" maxlength="50" id="driver-employeeId" [(ngModel)]="model.employeeId" name="employeeId" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label data-error="wrong" data-success="right" for="driver-ssn">
                                SSN<span style="color: red">*</span>
                            </label>
                            <input type="number" maxlength="50" id="driver-ssn" [(ngModel)]="model.ssn" name="ssn" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-title">
                                Date of Birth
                                <span style="color: red">*</span>
                            </label>
                            <input [matDatepicker]="myDatepicker" class="form-control col-md-11" placeholder="dd-mm-yyyy" name="dateOfBirth" [(ngModel)]="model.birthDate"
                                   required (focus)="myDatepicker.open()" (click)="myDatepicker.open()">
                            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>
                        </div>

                        <div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-title">
                                License Issued Date
                                <span style="color: red">*</span>
                            </label>
                            <input id="driver-licenseIssuedDate" [matDatepicker]="myDatepicker2" class="form-control col-md-11" placeholder="dd-mm-yyyy"
                                   name="licenseIssuedDate" [(ngModel)]="model.licenseIssuedDate" required (focus)="myDatepicker2.open()"
                                   (click)="myDatepicker2.open()">
                            <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker2></mat-datepicker>
                        </div>

                        <div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-licenseIssuedState">
                                License Issued Governate
                                <span style="color: red">*</span>
                            </label>
                            <select [(ngModel)]="model.licenseIssuedState" id="driver-licenseIssuedState" name="licenseIssuedState" class="form-control">
                                <option *ngFor="let item of licenseIssuedGovernates" [value]="item.id">{{item.text}}</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-licenseNumber">
                                License Number
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" maxlength="50" id="driver-licenseNumber" [(ngModel)]="model.licenseNumber" name="licenseNumber" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" id="driver-active" [(ngModel)]="model.active" name="model.active" [checked]="model.active" (change)="model.active = !model.active" />
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-active">Active</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="updateDriver()" class="btn btn-primary">
                        Update Driver
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>