<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <h4 class="title col-md-10 reportTitle" style="font-weight: 700;">
                Preventive Maintenance Plan
            </h4>
        </div>
        <div class="row">
            <div class="form-inline">
                <label>Mixer Fleet No: </label>
                <input type="text" [(ngModel)]="fleetNum" name="fleetNumber"
                       [matAutocomplete]="auto" class="form-control col-md-6"
                       style="background: transparent !important">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let fleet of vehicles | FilterQuery:fleetNum" [value]="fleet.fleetNumber">
                        {{ fleet.fleetNumber }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default" (click)="getPreventiveReportData(fleetNum)" style="margin: 10px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </button>
            <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                <span class="fa fa-eraser"></span> Clear
            </button>

            <button *ngIf="reportResult?.length > 0" class="btn btn-default" (click)="print()" style="margin: 10px;">
                <span class="fa fa-print"></span> Print
            </button>
        </div>
        <div id="print-section">
            <table class="table" style="margin-bottom: 0;">
                <tr>
                    <td>
                        <h4 class="title col-md-10 reportTitle" style="margin-left: -25px;">
                            Preventive Maintenance Plan
                        </h4>
                    </td>
                    <td>
                        <a class="pull-right">
                            <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive" alt="">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Refernce #: {{ fleetNum }} </label>
                    </td>
                    <td></td>
                </tr>
            </table>

            <!-- Work Description -->
            <div class="row">
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
                <div class="col-md-12" *ngIf="reportResult?.length > 0">
                    <!-- <div class="card"> -->
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr style="background: #444 !important">
                                    <th>Note</th>
                                    <th *ngFor="let type of firstRow.value">{{type.serviceTypeName_En}} / {{type.serviceTypeName_AR}}</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of reportResult;let i=index">
                                    <td style="width: 30%"></td>
                                    <td *ngFor="let x of item.value">{{x.count}}</td>
                                    <td>{{item.date | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- </div> -->
                </div>

            </div>
            <div class="row" *ngIf="reportResult?.length > 0">
                <div class="col-md-12">
                    <p class="col-md-1">Marks:</p>
                    <hr class="col-md-4" style="margin-top: 5px;">
                </div>
                <!-- <div class="col-md-12">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Issue Date</th>
                                <th>Version No./Date</th>
                                <th>Page Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>KCRM/MNT/FR/02</td>
                                <td>13/5/2018</td>
                                <td>V1/13/53208</td>
                                <td>1/1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
            </div>
        </div>
        <b *ngIf="reportResult?.length == 0">No items found.</b>

    </div>
</div>