<div class="row">
    <h6 class="col-md-3">Add User</h6>
</div>
<div class="row">
    <form novalidate class="col-md-12" [formGroup]="fGroup">
        <div class="col-md-12">
            <label data-error="wrong" data-success="right" for="firstName">First Name <span style="color: red">*</span></label>
            <input type="text" id="firstName" [(ngModel)]="model.firstName" placeholder="First Name" name="firstName" class="form-control"
                   formControlName="firstName" required>
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="lastName">
                Last Name <span style="color: red">*</span>
            </label>
            <input type="text" id="lastName" [(ngModel)]="model.lastName" name="lastName" placeholder="Last Name" class="form-control"
                   formControlName="lastName" required>
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="phoneNumber">
                Phone Number<span style="color: red">*</span>
            </label>
            <input type="text" id="phoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber" placeholder="Phone" class="form-control"
                   required (keypress)="keyPress($event)" minlength="8" maxlength="15" formControlName="phoneNumber">
            <div *ngIf="model.phoneNumber?.errors && (model.phoneNumber?.dirty || model.phoneNumber?.touched)" class="alert alert-danger">
                <div [hidden]="!model.phoneNumber.errors.required">
                    Phone is required!
                </div>
                <div [hidden]="!model.phoneNumber?.errors.minlength">
                    Phone must be at least 8 characters long.
                </div>
                <div [hidden]="!model.phoneNumber?.errors.maxlength">
                    Phone cannot be more than 15 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="email">
                User email
                <span style="color: red">*</span>
            </label>
            <input type="text" id="email" placeholder="user@company.com" [(ngModel)]="model.email" name="email" class="form-control"
                   formControlName="email" required>
        </div>

        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="userName">
                User Name <span style="color: red">*</span>
            </label>
            <input type="text" id="userName" [(ngModel)]="model.userName" name="userNamee" placeholder="User Name" class="form-control"
                   formControlName="userNamee" required>
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="pass">
                User Password  (Min password length = 6 chars)<span style="color: red">*</span>
            </label>
            <input type="password" id="pass" [(ngModel)]="model.password" name="password" class="form-control" require
                   formControlName="password">
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="pass">
                Role <span style="color: red">*</span>
            </label>
            <select [(ngModel)]="model.roleNames" name="roleNames" class="form-control" required formControlName="roleNames">
                <option value="0" disabled>Choose Role Of User</option>
                <option *ngFor="let x of roles" [ngValue]="[x.name]">{{x.name}}</option>
            </select>
        </div>
    </form>
</div>

<div class="app-modal-footer" style="margin-top:3%">
    <button type="button" class="btn btn-default" (click)="onNoClick()">Close</button>
    <button type="button" (click)="saveUser()" class="btn btn-primary" [disabled]="!model.firstName || !model.lastName
        || !model.phoneNumber || !model.email || !model.userName || !model.password || !model.roleNames">
        Add User
    </button>
</div>