<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="col-md-12" style="padding:10px;">
                <div class="col-md-6 form-inline">
                    <label class="title">
                        Spare Part Request ID:
                        <span style="color:red;">*</span>
                    </label>
                    <select [(ngModel)]="sparePartRequestId" name="ddlSpareParts" id="ddlSpareParts" class="form-control">
                        <option [ngValue]="0">-- All --</option>
                        <option *ngFor="let item of allSparts" [ngValue]="item.id">{{ item.id }}</option>
                    </select>
                    <!--<input type="text" [(ngModel)]="spareId" name="spareId" [matAutocomplete]="auto" class="form-control col-md-6" style="background:transparent !important"
                           placeholder="select spare part first">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option (onSelectionChange)="getPayRequestReportData(item.id)" *ngFor="let item of allSparts | FilterQuery:spareId" [value]="item.id">
                            {{ item.id }}
                        </mat-option>
                    </mat-autocomplete>-->
                    <!--<button class="btn" (click)="clearSheaarch()" style="margin-left: 2%;">Clear</button>-->
                </div>
            </div>
        </div>
        <!--<div class="col-md-1 pull-right">
            <button class="btn btn-twitter" (click)="print()">
                <span class="fa fa-print"></span> Print
            </button>
        </div>-->
        <div class="row">
            <button type="submit" class="btn btn-default" (click)="getPayRequestReportData()" style="margin: 10px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </button>
            <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                <span class="fa fa-eraser"></span> Clear
            </button>

            <button class="btn btn-default" (click)="print()" style="margin: 10px;">
                <span class="fa fa-print"></span> Print
            </button>
        </div>
        <div id="print-section" *ngIf="reportResult != {} || reportResult != null">
            <div class="row">

                <table class="table" style="margin-bottom:0;">
                    <tr>
                        <td>
                            <h4 class="title col-md-10 reportTitle">Internal Purchase Request طلب شراء داخلى</h4>
                        </td>
                        <td>
                            <a class="pull-right">
                                <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- /////////////////////// Work Description ////////////////////////////////////////// -->
            <div class="row">
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
                <div class="col-md-12" *ngIf="reportResult != {}">
                    <table class="table table-bordered">
                        <tr>
                            <td>Requested By:</td>
                            <td>{{reportResult.requestedBy}}</td>
                            <td dir="rtl">طلب بواسطة: </td>
                        </tr>
                        <tr>
                            <td>Department</td>
                            <td>{{reportResult.customer}}</td>
                            <td dir="rtl">الجهة/القسم:</td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td> {{reportResult?.spareParts?.startDate |date:'dd/MM/yyyy'}}</td>
                            <td dir="rtl">التاريخ:</td>
                        </tr>
                    </table>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Name/ الاسم</th>
                                    <th>Source/المصدر</th>
                                    <th>Part NO./رقم القطعة</th>
                                    <th>Description/البيان</th>
                                    <th>Unit/ألوحدة</th>
                                    <th>
                                        Qty
                                        <!-- <tr>
                                            <th>Requd Qty/الكمية المطلوبة</th>
                                            <th>IN Stock/المخزون</th>
                                            <th>Ordered/تم الطلب</th>
                                        </tr> -->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{reportResult?.spareParts?.sparePart_Name}}</td>
                                    <td>{{reportResult?.spareParts?.source}}</td>
                                    <td>{{reportResult?.spareParts?.serialNumber}}</td>
                                    <td>{{reportResult?.spareParts?.description}}</td>
                                    <td>{{reportResult?.spareParts?.unit}}</td>
                                    <td>
                                        {{reportResult?.spareParts?.amount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{reportResult?.spareParts?.startDate |date:'dd/MM/yyyy'}}</td>
                                    <td>P.O.تاريخ طلب الشراء</td>
                                    <td colspan="2">{{reportResult?.spareParts?.id}}</td>
                                    <td>P.O.رقم طلب الشراء</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="text-center">
                                        Rmarkes- The Reason for Purchasing-ملاحظات - سبب الشراء
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" rowspan="3" style="height:60px">
                                        {{reportResult?.spareParts?.comment}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" *ngIf="reportResult != {}">
                            <tbody>
                                <tr>
                                    <td>
                                        <ins>Requested Signature توقيع الطالب</ins>
                                    </td>
                                    <td colspan="2"></td>
                                    <td></td>
                                    <td>
                                        <ins>Approval Signature توقيع الموافقة</ins>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- <div class="row" style="margin-top:3%">
                <div class="col-md-12">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Issue Date</th>
                                    <th>Version No./Date</th>
                                    <th>Page Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KCRM/MNT/FR/02</td>
                                    <td>13/5/2018</td>
                                    <td>V1/13/53208</td>
                                    <td>1/1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
        <b *ngIf="!reportResult">No Items Found</b>

    </div>
</div>