<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Pending Spare Parts</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Job Card Id</th>
                                    <th>Repair Request Id</th>
                                    <th>Spare Part</th>
                                    <th>Quantity</th>
                                    <th>Total Cost</th>
                                    <th>Technician</th>
                                    <th>Tech. Start Date</th>
                                    <th>Tech. End Date</th>
                                    <th>Details</th>
                                    <th>ِ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of repairRequestSpareParts">
                                    <td hidden>{{item.id}}</td>
                                    <td>
                                        <a [routerLink]="['../../../../job-cards/details/', item.repairRequest?.vehicleId, item.repairRequest?.jobCardId]">
                                            {{item.repairRequest?.jobCardId}}
                                        </a>
                                    </td>
                                    <td>{{item.repairRequestId}}</td>
                                    <td>{{item.sparePart?.nameEn}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.technician?.fullName}}</td>
                                    <td>{{item.technicianStartDate |date:"dd/M/yyyy"}}</td>
                                    <td>{{item.technicianEndDate |date:"dd/M/yyyy"}}</td>
                                    <td><a [routerLink]="['../details', item.id]"><span>Details</span></a></td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="approve(item);"><span>Approve</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>