
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}" style="margin-right: 10px">
    <div class="modal-dialog" style="overflow-y: scroll;max-height:85%; margin-top: 50px; margin-bottom:50px; min-width: 64%;">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h6 style="margin-left:-20px;">Repair Request Details</h6>
                <button type="button" class="close pull-right col-md-offset-7" (click)="hide()" aria-label="Close"
                        style="margin-right:-20px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <mat-tab-group class="demo-tab-group">
                            <mat-tab label="Spare parts">
                                <div class="card">
                                    <div class="content">
                                        <form class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <a *ngIf="allowEdit && !isCollapsedSpare"
                                                       (click)="openAddModeRepairRequestSparePart(commonS.repairId);"
                                                       class="col-md-offset-6 pull-right" [attr.aria-expanded]="!isCollapsedSpare"
                                                       aria-controls="collapseExample">
                                                        <i class="pe-7s-plus"></i> Add spare parts to this repair request
                                                    </a>
                                                </div>
                                                <div class="col-md-12">

                                                    <div class="row" [ngbCollapse]="!isCollapsedSpare">
                                                        <h6>{{lblAddEditRequestSparePartText}}</h6>
                                                        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm"
                                                              novalidate class="col-md-12">
                                                            <div class="col-md-12">
                                                                <div class="col-md-6">
                                                                    <label data-error="wrong" data-success="right" for="ddlSpareParts">
                                                                        Spare Part <span *ngIf="editModeSparePart">ID = {{model.sparePartId}}, Serial = {{model.sparePart?.serialNumber}}</span>
                                                                        <span *ngIf="!editModeSparePart" style="color: red;">*</span>
                                                                    </label>
                                                                    <select [(ngModel)]="model.sparePartId" name="sparePartId"
                                                                            id="ddlSpareParts" class="form-control"
                                                                            [disabled]="editModeSparePart" style="cursor: pointer;">
                                                                        <option *ngFor="let item of spareParts" [ngValue]="item.id">{{item.nameEn}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label data-error="wrong" data-success="right" for="quantity">
                                                                        Quantity
                                                                        <span style="color: red;">*</span>
                                                                    </label>
                                                                    <input type="number" id="quantity" [(ngModel)]="model.quantity"
                                                                           name="quantity" class="form-control" min="0">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label data-error="wrong" data-success="right" for="source">
                                                                        Source
                                                                        <span style="color: red;">*</span>
                                                                    </label>
                                                                    <select [(ngModel)]="model.source" name="source" id="source"
                                                                            class="form-control" required>
                                                                        <option Value="Workshop"> Workshop </option>
                                                                        <option Value="Stores"> Stores </option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-2" *ngIf="currentUserIsManager()">
                                                                    <label data-error="wrong" data-success="right" for="txtAmount">
                                                                        Total Cost
                                                                    </label>
                                                                    <input type="number" id="txtAmount" [(ngModel)]="model.amount"
                                                                           name="amount" class="form-control" min="0" [disabled]="!currentUserIsManager()"
                                                                           style="cursor: pointer;">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">
                                                                    <label data-error="wrong" data-success="right" for="ddlTechnicians">
                                                                        Technician
                                                                        <span style="color: red;">*</span>
                                                                    </label>
                                                                    <select [(ngModel)]="model.technicianId" name="technicianId"
                                                                            id="ddlTechnicians" class="form-control">
                                                                        <option *ngFor="let x of technicians" [ngValue]="x.id">
                                                                            {{x.fullName}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label data-error="wrong" data-success="right" for="startDate">
                                                                        Technician Start Date
                                                                        <span style="color: red;">*</span>
                                                                        <input id="startDate" [(ngModel)]="model.technicianStartDate"
                                                                               name="startDate" class="form-control col-md-12"
                                                                               [owlDateTimeTrigger]="dtStartDate" [owlDateTime]="dtStartDate"
                                                                               required>
                                                                        <owl-date-time #dtStartDate></owl-date-time>
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label data-error="wrong" data-success="right" for="endDate">
                                                                        Technician End Date
                                                                        <span style="color: red;">*</span>
                                                                        <input id="endDate" [min]="startTime" [(ngModel)]="model.technicianEndDate"
                                                                               name="endDate" class="form-control col-md-12"
                                                                               [owlDateTimeTrigger]="dtEndDate" [owlDateTime]="dtEndDate"
                                                                               required>
                                                                        <owl-date-time #dtEndDate></owl-date-time>
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label data-error="wrong" data-success="right" for="kiloMetersChangeSparePart">
                                                                        KM Change S.P
                                                                    </label>
                                                                    <input [(ngModel)]="model.kiloMetersChangeSparePart" name="kiloMetersChangeSparePart"
                                                                           class="form-control col-md-12" id="kiloMetersChangeSparePart" type="number" />

                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">
                                                                    <label data-error="wrong" data-success="right" for="comment">
                                                                        Comment
                                                                    </label>
                                                                    <textarea rows="2" [(ngModel)]="model.comments" name="comment"
                                                                              class="form-control col-md-12" id="comment"></textarea>

                                                                </div>
                                                            </div>
                                                        </form>
                                                        <div class="col-md-offset-6 pull-right">
                                                            <button type="button" class="btn btn-default" (click)="isCollapsedSpare = !isCollapsedSpare">Close</button>

                                                            <button type="button" (click)="saveRequestSparePart();"
                                                                    class="btn btn-primary" [disabled]="!model.sparePartId ||!model.technicianId || !model.technicianStartDate || !model.technicianEndDate || !model.quantity || model.quantity < 1">
                                                                {{btnAddUpdateRequestSparePartText}}
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <app-repair-request-spare-parts-list #activeRepairRequestSpareParts [repairRequestId]="repairRequestId"
                                                                                         [showEditButton]="allowEdit && currentUserIsManager() && !isCollapsedSpare"
                                                                                         [showDeleteButton]="allowEdit && currentUserIsManager() && !isCollapsedSpare"
                                                                                         [showTotalCost]="currentUserIsManager()"
                                                                                         (editButtonClicked)="openEditModeRepairRequestSparePart($event)">
                                                    </app-repair-request-spare-parts-list>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Lubricants">
                                <div class="card">
                                    <div class="content">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <a *ngIf="allowEdit && !isCollapsedMaterials" class="col-md-offset-6 pull-right"
                                                       (click)="openAddModeRepairRequestMaterial(commonS.repairId);"
                                                       [attr.aria-expanded]="!isCollapsedMaterials" aria-controls="collapseExample">
                                                        <i class="pe-7s-plus"></i> Add Lubricants
                                                    </a>
                                                </div>
                                                <div class="row" [ngbCollapse]="!isCollapsedMaterials">
                                                    <h6>{{lblAddEditRequestMaterialText}}</h6>
                                                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm"
                                                          novalidate class="col-md-12">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label data-error="wrong" data-success="right" for="sparePartId">
                                                                    Spare Part<span *ngIf="editModeMaterial"> ID = {{modelMaterial.sparePartId}}, Serial = {{modelMaterial.sparePart?.serialNumber}}</span>
                                                                </label>
                                                                <select [(ngModel)]="modelMaterial.sparePartId"
                                                                        [disabled]="editModeMaterial" style="cursor: pointer;"
                                                                        name="sparePartId" id="sparePartId" class="form-control">
                                                                    <option *ngFor="let x of spareParts" [ngValue]="x.id">{{x.nameEn}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label data-error="wrong" data-success="right">
                                                                    Quantity
                                                                    <span style="color: red;">*</span>
                                                                </label>
                                                                <input type="number" class="form-control" name="quantity"
                                                                       [(ngModel)]="modelMaterial.quantity">
                                                            </div>
                                                            <div class="col-md-4" *ngIf="currentUserIsManager()">
                                                                <label data-error="wrong" data-success="right" for="cost">
                                                                    Total Cost<span style="color: red;">*</span>
                                                                </label>
                                                                <input type="number" id="cost" [(ngModel)]="modelMaterial.cost"
                                                                       name="cost" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label data-error="wrong" data-success="right" for="sparePartStatusId">
                                                                    Status
                                                                    <span style="color: red;">*</span>
                                                                </label>
                                                                <select [(ngModel)]="modelMaterial.sparePartStatusId"
                                                                        name="SparePartStatusId" id="sparePartStatusId"
                                                                        class="form-control" required>
                                                                    <option *ngFor="let x of sparePartStatuses" [ngValue]="x.id">{{x.nameEn}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label data-error="wrong" data-success="right" for="technicianId">
                                                                    Technician
                                                                    <span style="color: red;">*</span>
                                                                </label>
                                                                <select [(ngModel)]="modelMaterial.technicianId"
                                                                        name="technicianId" id="technicianId" class="form-control"
                                                                        required>
                                                                    <option *ngFor="let x of technicians" [ngValue]="x.id">{{x.fullName}}</option>
                                                                </select>
                                                            </div>


                                                        </div>
                                                    </form>
                                                    <div class="col-md-offset-6 pull-right">
                                                        <button type="button" class="btn btn-default" (click)="isCollapsedMaterials = !isCollapsedMaterials">Close</button>
                                                        <button type="button" (click)="saveRepairRequestMaterial();"
                                                                class="btn btn-primary" [disabled]="!modelMaterial.technicianId || !modelMaterial.sparePartStatusId">
                                                            {{btnAddUpdateRequestMaterialText}}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="card" *ngIf="usedMaterials?.length != 0">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover table-striped ">
                                                                <thead thead-dark>
                                                                    <tr>
                                                                        <th hidden>Id</th>
                                                                        <th>S.P ID</th>
                                                                        <th>S.P Serial No</th>
                                                                        <th>Spare Part Name</th>
                                                                        <th>Qty</th>
                                                                        <th *ngIf="currentUserIsManager()">Total Cost</th>
                                                                        <th>Technician</th>
                                                                        <th>Status</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of usedMaterials">
                                                                        <td hidden>{{item.id}}</td>
                                                                        <td>{{item.sparePartId}}</td>
                                                                        <td>{{item.sparePart?.serialNumber}}</td>
                                                                        <td>{{item.sparePart?.nameEn}}</td>
                                                                        <td>{{item.quantity}}</td>
                                                                        <td *ngIf="currentUserIsManager()">{{item.cost}}</td>
                                                                        <td>{{item.technician?.fullName}}</td>
                                                                        <td>{{item.sparePartStatus?.nameEn}}</td>
                                                                        <td>
                                                                            <a *ngIf="allowEdit && currentUserIsManager() && !isCollapsedMaterials" href="javascript:void(0)"
                                                                               (click)="openEditModeRepairRequestMaterial(item)"><span>Edit</span></a>
                                                                            <a *ngIf="allowEdit && currentUserIsManager() && !isCollapsedMaterials" href="javascript:void(0)"
                                                                               (click)="deleteRepairRequestMaterial(item.id)"><span>Delete</span></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <p *ngIf="usedMaterials?.length == 0">No materials used found for this repair request.</p>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Pending spare parts">
                                <div class="card">
                                    <div class="content">
                                        <app-repair-request-spare-parts-list #pendingRepairRequestSpareParts
                                                                             [repairRequestId]="repairRequestId"
                                                                             [pendingSpareParts]="true"
                                                                             [showTotalCost]="currentUserIsManager()">
                                        </app-repair-request-spare-parts-list>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-addusedMaterials #modal3></app-addusedMaterials>