<div class="row">
    <div class="col-lg-10" *ngIf="maxPages > 1">
        <nav aria-label="Pagination" style="margin: 20px;">
            <ul class="pagination">
                <li [class.disabled]="currentPageNo == 1">
                    <a href="javascript:;" (click)="setFirstPage()" aria-label="FirstPage">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>
                <li [class.disabled]="currentPageNo == 1">
                    <a href="javascript:;" (click)="setPreviousPage()" aria-label="PreviousPage">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li *ngIf="pagerStartPage > 1">
                    <a href="javascript:;" (click)="setPagerStartPage(-1);" aria-label="PreviousPagesSet">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>

                <li *ngFor="let page of pagesLinks;" [class.active]="page == currentPageNo">
                    <a href="javascript:;" (click)="setPageNo(page)">{{ page }}</a>
                </li>

                <li *ngIf="pagerStartPage <= maxPages - maxDisplayedPages">
                    <a href="javascript:;" (click)="setPagerStartPage(1);" aria-label="NextPagesSet">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>

                <li [class.disabled]="currentPageNo == maxPages">
                    <a href="javascript:;" (click)="setNextPage()" aria-label="NextPage">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li [class.disabled]="currentPageNo == maxPages">
                    <a href="javascript:;" (click)="setLastPage()" aria-label="LastPage">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-10" *ngIf="maxPages == 1">

    </div>
    <div class="col-lg-2 text-right">
        <div>
            Page {{currentPageNo}} / {{maxPages}}
        </div>
        <div>
            <label>Page Size</label>

            <select class="form-control" (change)="setPageSize($event.target.value)">
                <option *ngFor="let pgSize of pageSizesList;">{{ pgSize }}</option>
            </select>
        </div>
    </div>
</div>