<div class="row">
    <h6 class="col-md-3">{{ title }}</h6>
</div>

<div class="row">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
        <div class="col-md-12">
            <label data-error="wrong" data-success="right" for="vehicleType-name">Name
                <span style="color: red">*</span>
            </label>
            <input type="text" id="vehicleType-name" [(ngModel)]="model.name" name="name" class="form-control validate">
        </div>

    </form>
</div>

<div class="modal-footer">
    <div >
        <button type="button" class="btn btn-default" (click)="onNoClick();cancel()">Close</button>
        <button type="button" (click)="saveVehicleType()" class="btn btn-primary" [disabled]="!model.name">{{btnSaveText}}
        </button>
    </div>
</div>