<input type="file" (change)="onFileSelected($event.target.files)"
       style="display: none;" #fileUpload multiple="multiple" />
<button type="button" (click)="fileUpload.click()">Browse files</button>
<label *ngIf="selectedFiles?.length > 0">{{selectedFiles?.length + ' file(s).'}}</label>
<!--<button type="button" (click)="uploadButtonClick()">Upload</button>-->
