<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Spare Parts</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="col-md-3">
                                <input type="text" name="name" class="form-control" placeholder="Search by Name" [(ngModel)]="searchParams.name">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="serialNo" class="form-control" placeholder="Search by Serial No" [(ngModel)]="searchParams.serialNo">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="category" class="form-control" placeholder="Search by Category" [(ngModel)]="searchParams.category">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default" (click)="searchSpareParts()" type="button" style="height: 40px;">Go!</button>
                            </div>
                            <div class="col-md-1">
                                <a href="javascript:void(0);" (click)="openAddEditSparePartDialog(0)" style="margin-right:10px; margin-top:10px;" class="btn btn-default pull-right mb-4">Add New</a>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th>Id</th>
                                    <th>Serial No.</th>
                                    <th>Name</th>
                                    <th>الاسم</th>
                                    <th>Category</th>
                                    <th>Needs Approve</th>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of spareParts">
                                    <td>{{item.id}}</td>
                                    <td>{{item.serialNumber}}</td>
                                    <td>{{item.nameEn}}</td>
                                    <td>{{item.nameAr}}</td>
                                    <td>{{item.category}}</td>
                                    <td>{{item.needApprove ? '\u2713' : '\u2718'}}</td>
                                    <td>{{item.make}}</td>
                                    <td>{{item.model}}</td>

                                    <td>
                                        <a href="javascript:void(0);" (click)="openAddEditSparePartDialog(item.id)">
                                            <span>
                                                Edit
                                            </span>
                                        </a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="deleteSparePart(item.id)">
                                            <span>
                                                Delete
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>