<div class="main-content">
    <div class="container-fluid">
        <div class="row card">
            <div class="col-md-12" style="padding: 1%;">
                <div class="col-md-9">
                    <label class="title col-md-2">Repair Request
                        <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                    </label>
                    <select class='form-control col-md-4' required [(ngModel)]='repairRequest' (change)='getVendorReportData(repairRequest);getSparPartsData(repairRequest)'>
                        <option *ngFor='let item of repairRequests' [ngValue]="item.id">{{item.id}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row  pull-right">
            <div class="col-md-3 pull-right">
                <button class="btn btn-twitter" (click)="print()">
                    <span class="fa fa-print"></span> Print</button>
            </div>
        </div>
        <div id="print-section" *ngIf="vendorReport.length > 0 || sparPartsReport?.length > 0">
            <div class="table-responsive">

                <table class="table" style="margin-bottom:0;">
                    <tr>
                        <td>
                            <h4 class="title col-md-10 reportTitle">OSP Work Order</h4>
                        </td>
                        <td>
                            <a class="pull-right">
                                <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" *ngIf="vendorReport.length > 0" >
                <div class="col-md-12">
                    <label class="title">No: {{repairRequest}} </label>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>To:</b>
                                    </td>
                                    <td>
                                        <b>Date:</b> {{vendorReport[0]?.startDate|date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Suplier: </b>{{vendorReport[0]?.vendor_Name}}</td>
                                    <td>
                                        <b>Plate No:</b> {{vendorReport[0]?.plateNumber}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Address:</b> {{vendorReport[0]?.vendor_Name}}</td>
                                    <td>
                                        <b>Fleet No:</b> {{vendorReport[0]?.fleetNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /////////////////////// Work Description ////////////////////////////////////////// -->
            <div class="row">
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
                <div class="col-md-12" *ngIf="sparPartsReport?.length > 0">
                    <p>please supply/Re-Condition/Overhaul the following item(s)</p>

                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered">
                            <thead thead-dark>
                                <tr>
                                    <th>SL#</th>
                                    <th>Code/Part No</th>
                                    <th>Parts Description</th>
                                    <th>Qty</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of sparPartsReport;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.serialNumber}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.cost}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Total:</td>
                                    <td>{{quantities}}</td>
                                    <td>{{amounts}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <ins style="margin-bottom:10px;margin-left:8px;">Within/Exceed Budget/Unbudgeted</ins>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr class="approveSign">
                            <td>Approved Budget</td>
                            <td>WorkShop Supervisor</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <b>Important Notes to Supplier:</b>
                    <p>1) Invoice/Delivery Note must refer to our Purchase Order No to facilitate payment</p>
                    <p>2) We reserve the rigth to reject the item(s) services supplied if they do not confirm to specifications
                        and standards as stated in this order. All charges in curred related to the above would be be borne
                        by you.</p>
                    <p>3) Indicate your confirmation below and return the original copy to us.</p>
                </div>
            </div>
            <div class="row">
                <ins style="margin-bottom:8px">To be Completed by Supplier:</ins>
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td class="dateDiv">
                                <span>
                                    <p class="col-md-3">Do No & Date:</p>
                                    <hr class="dateHr">
                                </span>
                                <span>
                                    <p class="col-md-3 invoiceDate">Invoice No & Date:</p>
                                    <hr class="dateHr">
                                </span>
                            </td>
                            <td>
                                <p>Goods Recevied By:</p>
                                <p>Date:</p>
                                <p>Sig:</p>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <p class="col-md-3">Invoice No & Date:</p>
                                <hr class="dateHr">
                            </td>
                        </tr> -->
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Issue Date</th>
                                    <th>Version No./Date</th>
                                    <th>Page Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KCRM/MNT/FR/02</td>
                                    <td>13/5/2018</td>
                                    <td>V1/13/53208</td>
                                    <td>1/1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <b *ngIf="vendorReport.length == 0 || sparPartsReport?.length == 0">no items found</b>

    </div>
</div>