<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Schedules Job Card</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="" (click)="modal.showid(fk_jobcard)" class="pull-right"
                                        data-toggle="modal" data-target="#modalNewrepairrequestForm"><i class="pe-7s-plus"></i> Add New Repair Request</a>
                                </div>
                            </div>
                            <div id="print-section">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Customer name:</b>
                                            </label>
                                            <label class="form-control"> {{model.customer_Type}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Date In: </b>
                                            </label>
                                            <label class="form-control"> {{model.date_In |date:'dd/M/yyyy'}} </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Date Out: </b>
                                            </label>
                                            <label class="form-control"> {{model.date_Out |date:'dd/M/yyyy'}} </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Description:</b>
                                            </label>
                                            <label class="form-control"> {{model.desc}} </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Fleet Number: </b>
                                            </label>
                                            <label class="form-control"> {{model.fleetNumber}} </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Driver Employee Id: </b>
                                            </label>
                                            <label class="form-control"> {{model.driverEmployeeId}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Status: </b>
                                            </label>
                                            <label class="form-control"> {{model.statusName}} </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color:black; text-transform: capitalize;">
                                                <b> Service Type: </b>
                                            </label>
                                            <label class="form-control"> {{model.serviceTypeName}} </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 pull-left">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger btn-fill pull-right" (click)="delete()">Delete</button>
                                    </div>
                                </div>
                                <div class="col-md-2 col-md-offset-8">
                                    <div class="form-group">
                                        <button type="button" (click)="modal8.shows(model)" class="btn btn-twitter btn-fill pull-right" data-toggle="modal" data-target="#modalNewrepairrequestForm">Update Job Card</button>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default btn-fill pull-right" (click)="print()">Print</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="content">
                        <form class="col-md-12">
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="" (click)="modal2.showjobcardid(fk_jobcard)" style="margin-right:20px; margin-top:10px;" class="btn btn-default pull-right btn-rounded mb-4"
                                            data-toggle="modal" data-target="#modalNewUsedMaterialForm">Add Used Material</a>
                                        <label style="text-transform: capitalize; margin-left: 15px; margin-top:20px;margin-bottom:2px;">
                                            <p style="font-family:Arial, Helvetica, sans-serif; font-variant:normal; font-style: normal;">Used Spare Parts:</p>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped ">
                                                <thead thead-dark>
                                                    <tr>
                                                        <th hidden>Id</th>
                                                        <th >Technician</th>
                                                        <th >spare part</th>
                                                        <th >Amount</th>
                                                        <th >Cost</th>
                                                        <th >Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of usedMaterials">
                                                        <td hidden>{{item.id}}</td>
                                                        <td >{{item.technicianEmployeeId}}</td>
                                                        <td >{{item.sparePart_Name}}</td>  
                                                        <td >{{item.amount}}</td>
                                                        <td >{{item.cost}}</td>
                                                        <td >{{item.sparePartStatus_Name}}</td>                                            
                                                    </tr>
                                                </tbody>
    
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="card">
                    <div class="content">
                        <form class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="col-md-9">Repair Requests </p>
                                    <a (click)="modal.showid(fk_jobcard)" class="pull-right" data-toggle="modal" data-target="#modalNewrepairrequestForm">
                                        <i class="pe-7s-plus"></i> Add New Repair Request</a>
                                </div>
                                <div class="col-md-12" *ngIf="repairrequests?.length != 0">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped ">
                                                <thead thead-dark>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>User Full Name</th>
                                                        <th>Job Card Id</th>
                                                        <th>Repair Request Type Name</th>
                                                        <th>Repair Request Status Name</th>
                                                        <th >Update</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of repairrequests">
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.user_Name}}</td>
                                                        <td>{{item.fK_JobCard_ID}}</td>
                                                        <td>{{item.repairRequestType_Name}}</td>
                                                        <td>{{item.repairRequestStatus_Name}}</td>
                                                        <td ><a href="javascript:void(0)" (click)="modal9.shows(item)"><span><u>Edit</u></span></a>
                                                            <span>/</span>
                                                            <a href="javascript:void(0)" (click)="deleteRepairrequest(item.id)" ><span><u>Delete</u></span></a>
                                                            <!--<span>/</span>
                                                            <a href="javascript:void(0)" (click)="modal4.showid(fk_jobcard)">
                                                                    <span><u>Add New Request Spare Part</u></span></a>-->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <form class="col-md-12">
                            <div class="row">
                                    <!--<div class="col-sm-12">
                                        <p class="col-md-9">Technicians</p>
                                        <a href="" (click)="modal3.showid(fk_jobcard)" class="pull-right" data-toggle="modal" data-target="#modalNewTechnicianForm">
                                            <i class="pe-7s-plus"></i> Add Technician</a>
                                    </div>-->
                                <div class="col-md-12" *ngIf="jobCardTechnicians?.length != 0">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped ">
                                                <thead thead-dark>
                                                    <tr>
                                                        <th hidden>Id</th>
                                                        <th>Technician</th>
                                                        <th>StartTime</th>
                                                        <th>EndTime</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of jobCardTechnicians">
                                                        <td hidden>{{item.id}}</td>
                                                        <td>{{item.technicianEmployeeId}}</td>
                                                        <td>{{item.startTime | date:'dd/MM/yyyy h:mm a'}}</td>
                                                        <td>{{item.endTime | date:'dd/MM/yyyy h:mm a'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-updateschjobcard #modal8></app-updateschjobcard>
<app-addschrepairrequest #modal></app-addschrepairrequest>
<app-addusedMaterials #modal2></app-addusedMaterials>
<app-updaterepairrequest #modal9></app-updaterepairrequest>