<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Preventive Repair Request</h4>
            <div class="col-md-12">
                <mat-card>
                    <mat-card-content>
                        <mat-tab-group>
                            <mat-tab label="Internal">
                                <app-internal-prerepairrequest></app-internal-prerepairrequest>
                            </mat-tab>
                            <mat-tab label="OSP">
                                <app-external-prerepairrequest></app-external-prerepairrequest>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>