<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px; min-width: 800px">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h6>Update Repair Request</h6>
                <button type="button" class="close pull-right col-md-offset-7" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="repairRequest-id">
                                Repair Request ID
                            </label>
                            <input type="text" id="repairRequest-id" [value]="model.id" name="repaireRequestId" class="form-control"
                                   readonly="readonly" style="cursor: pointer;">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="repairRequestTypeId">
                                Place
                            </label>
                            <input type="text" id="repairRequest-external" [value]="model.external? 'OSP': 'Internal'" name="make" class="form-control"
                                   readonly="readonly" style="cursor: pointer;">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="repairRequestTypeId">
                                Repair Request Type
                            </label>
                            <select [(ngModel)]="model.repairRequestTypeId" name="repairRequestTypeId" id="repairRequestTypeId" class="form-control"
                                    [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let x of repairRequestTypes" [ngValue]="x.id">{{x.nameEn}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="serviceTypeId">
                                Service Type
                            </label>
                            <select [(ngModel)]="model.serviceTypeId" name="serviceTypeId" id="serviceTypeId" class="form-control">
                                <option *ngFor="let x of serviceTypes" [ngValue]="x.id">{{x.nameEn}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right"
                                   for="repairRequestStatusId">Repair Request Status</label>
                            <select [(ngModel)]="model.repairRequestStatusId" name="repairRequestStatusId" id="repairRequestStatusId" class="form-control">
                                <option *ngFor="let x of repairRequestStatuses" [ngValue]="x.id">{{x.nameEn}}</option>
                            </select>
                        </div>
                        <div class="col-md-12" *ngIf="model.external">
                            <div class="form-group">
                                <label style="color:black; text-transform: capitalize;">
                                    Quotation files:
                                </label>
                                <div class="card">
                                    <span align="right" class="pull-right" (click)="modal.showDialog(files, model.id)" style="text-decoration:underline; padding: 1%;">
                                        <i class="pe-7s-plus"></i><a href="javascript:void(0);">Manage quotation files</a>
                                    </span>
                                    <table class="table table-hover table-striped">
                                        <thead thead-dark>
                                            <tr>
                                                <th hidden>Id</th>
                                                <th>Vendor ID</th>
                                                <th>Vendor Name</th>
                                                <th>Files</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of repairRequestVendors">
                                                <td hidden>{{item.id}}</td>
                                                <td>{{item.vendorId}}</td>
                                                <td>{{item.vendor?.name}}</td>
                                                <td>
                                                    <table>
                                                        <tr *ngFor="let file of item.files">
                                                            <td>
                                                                <a href="{{file.fileUrl}}" target="_blank">
                                                                    <p style="font-family: Arial, Helvetica, sans-serif; font-variant: normal; font-style: normal; text-decoration: underline;">{{file.fileName}}</p>
                                                                </a>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right"
                                   for="comment">Comment</label>
                            <textarea class="form-control" [(ngModel)]="model.comment" name="comment" rows="2" id="comment"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="updateRepairRequest()" class="btn btn-primary">Update Repair Request</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-updateattachments #modal (dataChanged)="repairRequestVendorsAttachedFilesChanged()"></app-updateattachments>

<mdl-spinner [active]="isActive"></mdl-spinner>