<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">External Repair Requset Details</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black;text-transform: capitalize;">
                                            <b> User Name: </b>
                                        </label>
                                        <label class="form-control"> {{model.user_Name}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;">
                                            <b>Repair Request Type Name: </b>
                                        </label>
                                        <label class="form-control"> {{model.repairRequestType_Name}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;">
                                            <b>Repair Request Status Name:</b>
                                        </label>
                                        <label class="form-control"> {{model.repairRequestStatus_Name}} </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;">
                                            <b>JobCard ID: </b>
                                        </label>
                                        <label class="form-control"> {{model.fK_JobCard_ID}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;">
                                            <b>Duration: </b>
                                        </label>
                                        <label class="form-control"> {{model.duration}} </label>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="isManager()">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;">
                                            <b>Cost: </b>
                                        </label>
                                        <label class="form-control"> {{model.cost}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;">
                                            <b> Quotations files: </b>
                                        </label>
                                        <div class="card">
                                            <span align="right" class="pull-right" (click)="modal3.shows(files,id)" style="text-decoration:underline;padding: 1%">
                                                <i class="pe-7s-plus"></i> Add quotation file
                                            </span>
                                            <table class="table table-hover table-striped ">

                                                <thead thead-dark>
                                                    <tr>
                                                        <th hidden>Id</th>
                                                        <th>File Name</th>
                                                        <th>Vendor Name</th>
                                                        <th>Choosed</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let file of files">
                                                        <td hidden>{{file.id}}</td>
                                                        <td>
                                                            <a href="{{file.fileURL}}" target="_blank">
                                                                <p style="font-family:Arial, Helvetica, sans-serif; font-variant:normal;
                                                                    font-style: normal; text-decoration: underline;">{{file.fileName}}</p>
                                                            </a>
                                                        </td>
                                                        <td>{{file.vendor_Name}}</td>
                                                        <td>
                                                            <label style="color:black; text-transform: capitalize;">
                                                                <input type="checkbox" id='choosed' name="optradio" [checked]="file.selected"
                                                                       (click)="chooseVendor(file.vendor_Name);" disabled><b style="margin-left: 5px;">Choosed</b>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 pull-left">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger btn-fill pull-right" (click)="delete()">Delete</button>
                                    </div>
                                </div>
                                <div class="col-md-2 col-md-offset-7">
                                    <div class="form-group">
                                        <button type="button" (click)="modal9.shows(model)" class="btn btn-twitter btn-fill pull-right" data-toggle="modal" data-target="#modalupdaterepairrequestForm">
                                            Update Repair Request
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button" (click)="modal.shows(files,id)" class="btn btn-default btn-fill pull-right" data-toggle="modal" data-target="#modalupdateattachmentsForm">
                                            Update attachments
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <form class="col-md-12">
                            <div class="row">
                                <div class="row">
                                    <!--<div class="col-sm-12">
                                        <a href="" (click)="modal2.showid(fk_repairrequest)" class="pull-right" data-toggle="modal" data-target="#modalNewrepairrequestForm">
                                            <i class="pe-7s-plus"></i> Add New Request Spare Part
                                        </a>
                                    </div>-->
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped ">
                                                <thead thead-dark>
                                                    <tr>
                                                        <th hidden>Id</th>
                                                        <th>Technician</th>
                                                        <th>Amount</th>
                                                        <th>spare part</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of sparepartsRequest">
                                                        <td hidden>{{item.id}}</td>
                                                        <td>{{item.technicianEmployeeId}}</td>
                                                        <td>{{item.amount}}</td>
                                                        <td>{{item.sparePart_Name}}</td>
                                                        <td>{{item.startDate |date:'dd/M/yyyy'}}</td>
                                                        <td>{{item.endDate |date:'dd/M/yyyy'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-updaterepairrequest #modal9></app-updaterepairrequest>
<app-updateattachments #modal></app-updateattachments>
<app-add-vendor-to-repair-request #modal3></app-add-vendor-to-repair-request>