<div class="main-content">
    <div class="container-fluid">
        <h4 class="title">Opened job cards</h4>
        <div class="row">
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead thead-dark>
                                <tr>
                                    <th>Job Card Id</th>
                                    <th>Job Card Description</th>
                                    <th>Date In</th>
                                    <th>Date Out</th>
                                    <th>Vehicle Id</th>
                                    <th>Customer Name</th>
                                    <th>Plate Number</th>
                                    <th>Fleet Number</th>
                                    <th>Driver Name</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of openJobCards">
                                    <td>{{item.id}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.dateIn |date:'dd/M/yyyy'}}</td>
                                    <td>{{item.dateOut |date:'dd/M/yyyy'}}</td>
                                    <td>{{item.vehicleId}}</td>
                                    <td>{{item.vehicle?.customerName}}</td>
                                    <td>{{item.vehicle?.plateNumber}}</td>
                                    <td>{{item.vehicle?.fleetNumber}}</td>
                                    <td>{{item.driver?.fullName}}</td>
                                    <td>{{item.jobCardStatus?.nameEn}}</td>
                                    <td><a [routerLink]="['../jobcardreport', item.id]"><span><u>View</u></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <p *ngIf="openJobCards?.length == 0">no items found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>