<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title">Repair request types</h4>
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
                <div class="card">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="" (click)="openAddRepairTypes()" style="margin-right:10px; margin-top:10px;" 
                               class="btn btn-default pull-right mb-4" data-toggle="modal">Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                            <tr>
                                <th hidden>Id</th>
                                <th>English Name</th>
                                <th>Arabic Name</th>
                                <th>Needs approve</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of repairRequestTypes">
                                <td hidden>{{item.id}}</td>
                                <td>{{item.nameEn}}</td>
                                <td>{{item.nameAr}}</td>
                                <td>{{item.needApprove ? '\u2713' : '\u2718'}}</td>
                                <td>
                                    <div>
                                        <a href="javascript:void(0)" (click)="modal.showDialog(item)"><span>Edit</span></a>
                                        <span>/</span>
                                        <a href="javascript:void(0)" (click)="deleteRepairRequestType(item.id)"><span>Delete</span></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-repair-request-type-edit #modal (dialogClosed)="getAllRepairTypes()"></app-repair-request-type-edit>