﻿<label>
    Vehicle ID: {{vehicleId}}
</label>
<div *ngIf="currentVehicle">
    <div class="col-md-4">
        <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-plateNumber">
            Plate Number
        </label>
        <input type="text" id="vehicle-plateNumber" [value]="currentVehicle.plateNumber" name="plateNumber"
               class="form-control" readonly="readonly" style="cursor: pointer;">
    </div>
    <div class="col-md-4">
        <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-fleetNumber">
            Fleet Number
        </label>
        <input type="text" id="vehicle-fleetNumber" [value]="currentVehicle.fleetNumber" name="fleetNumber"
               class="form-control" readonly="readonly" style="cursor: pointer">
    </div>
    <div class="col-md-4">
        <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-model">
            Model
        </label>
        <input type="text" id="vehicle-model" [value]="currentVehicle.model" name="model" class="form-control" readonly="readonly"
               style="cursor: pointer">
    </div>
    <div class="col-md-4">
        <label data-error="wrong" style="margin-top:2px;" data-success="right" for="vehicle-customer">
            Customer Name
        </label>
        <input type="text" id="vehicle-customer" [value]="currentVehicle.customerName" name="model" class="form-control" readonly="readonly"
               style="cursor: pointer">
    </div>
    <div class="col-md-4">
        <label data-error="wrong" data-success="right" for="vehicle-vehicleType">
            Vehicle Type
        </label>
        <input type="text" id="vehicle-vehicleType" [value]="currentVehicle.vehicleType?.name" name="make" class="form-control"
               readonly="readonly" style="cursor: pointer;">
    </div>
    <div class="col-md-4">
        <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-make">
            Manufacture
        </label>
        <input type="text" id="vehicle-make" [value]="currentVehicle.make" name="make" class="form-control"
               readonly="readonly" style="cursor: pointer;">
    </div>
</div>