<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Pending Repair Request Details</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form>
                            <div class="container-fluid">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color:black;text-transform: capitalize;">
                                            <b> Repair Request Id: </b>
                                        </label>
                                        <label class="form-control"> {{model.id}}</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color:black;text-transform: capitalize;">
                                            <b> User Name: </b>
                                        </label>
                                        <label class="form-control"> {{model.createdByUser?.fullName}}</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;">
                                            <b>Repair Request Type: </b>
                                        </label>
                                        <label class="form-control"> {{model.repairRequestType?.nameEn}} </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color:black; text-transform:capitalize;">
                                            <b>Repair Request Status:</b>
                                        </label>
                                        <label class="form-control"> {{model.repairRequestStatus?.nameEn}} </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color:black; text-transform:capitalize;">
                                            <b>Job Card ID: </b>
                                        </label>
                                        <label class="form-control"> {{model.jobCardId}} </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color:black; text-transform:capitalize;">
                                            <b>Duration: </b>
                                        </label>
                                        <label class="form-control"> {{model.duration}} </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color:black; text-transform:capitalize;">
                                            <b>Cost: </b>
                                        </label>
                                        <label class="form-control"> {{model.cost}} </label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <label style="color:black;text-transform:capitalize;">
                                        <b> Comment: </b>
                                    </label>
                                    <textarea class="form-control" [(ngModel)]="model.comment" name="comment"
                                              rows="2" id="comment"></textarea>
                                </div>
                            </div>
                            <div class="row pull-right">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-twitter" (click)="approve()">Approve</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>