﻿<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h6>Edit repair request type</h6>
                <button type="button" class="close pull-right col-md-offset-7" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                        <div class="col-md-12">
                            <label data-error="wrong" data-success="right" for="repairrequesttypename_EN">
                                Name
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" id="repairrequesttypename_EN" [(ngModel)]="model.nameEn" name="repairRequestTypeName_EN"
                                   class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="repairrequesttypename_AR">
                                الاسم
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" id="repairrequesttypename_AR" [(ngModel)]="model.nameAr" name="repairRequestTypeName_AR"
                                   class="form-control">
                        </div>
                        <div class="col-md-12" style="margin-top:5px;margin-bottom:1px;">
                            <label>
                                <input type="checkbox" [(ngModel)]="model.needApprove" name="needApprove" [checked]="model.needApprove" />
                                Need Approve. (The manager should approve any repair request of this type)
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="updateRepairRequestType()" class="btn btn-primary" [disabled]="!model.nameEn || !model.nameAr">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>