﻿<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Pending Repair Requests</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                            <tr>
                                <th>Repair Request Id</th>
                                <th>User Full Name</th>
                                <th>Job Card Id</th>
                                <th>Repair Request Type Name</th>
                                <th>Repair Request Status Name</th>
                                <th>Details</th>
                                <th>ِ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of repairResquests">
                                <td>{{item.id}}</td>
                                <td>{{item.createdByUser?.fullName}}</td>
                                <td>{{item.jobCardId}}</td>
                                <td>{{item.repairRequestType?.nameEn}}</td>
                                <td>{{item.repairRequestStatus?.nameEn}}</td>
                                <td>
                                    <a [routerLink]="['../details', item.id]">
                                        <span>
                                            Details
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" (click)="approve(item);"><span>Approve</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
