<div class="content">
    <div class="container-fluid">
        <h4 class="title">Dashboard</h4>
        <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <i class="pe-7s-user text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <p class="card-category">Users</p>
                                    <h4 class="card-title">{{usersCount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <a routerLink="/home/users">
                                <i class="fa fa-list-ol"></i> List Users
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <i class="pe-7s-car text-success"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <p class="card-category">Vehicles</p>
                                    <h4 class="card-title">{{vehiclesCount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <a routerLink="/home/vehicles">
                                <i class="fa fa-list-ol"></i> List Vehicles
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <i class="pe-7s-comment text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <p class="card-category">Open Repair Requests</p>
                                    <h4 class="card-title">{{openRepairRequestsCount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <a>
                                <i class="fa fa-list-ol"></i> List Requests
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <i class="pe-7s-file text-primary"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <p class="card-category">Open Job Cards</p>
                                    <h4 class="card-title">{{openJobCardsCount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <a routerLink="/home/jobcardreport">
                                <i class="fa fa-list-ol"></i> List Cards
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <app_opened-job-cards></app_opened-job-cards>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div [chart]="chartRequests"></div>
            </div>
            <div class="col-md-8">
                <div [chart]="chartJobs"></div>
            </div>
        </div>
    </div>

</div>