<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h6>Add User Material</h6>
                <button type="button" class="close pull-right col-md-offset-8" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="fK_Inventory_ID">Spare Part</label>
                            <select [(ngModel)]="model.fK_Inventory_ID" name="fK_Inventory_ID" id="fK_Inventory_ID" class="form-control validate">
                                <option *ngFor="let x of spareparts" [ngValue]="x.id">{{x.name_EN}}</option>
                            </select>
                            <!-- <<ng-select [items]="spareparts"
                                bindLabel="name_EN"
                                bindValue="id"
                                [(ngModel)]="model.fK_Inventory_ID" name="fK_Inventory_ID" class="form-control validate">
                                 </ng-select> -->
                            <!-- <ng-select class="overflow-y:auto" [(ngModel)]="model.fK_Inventory_ID" name="fK_Inventory_ID" class="form-control validate">
                                    <ng-option *ngFor="let x of spareparts" [(value)]="x.id" >{{x.name_EN}}</ng-option>
                                </ng-select> -->
                            <!-- <select [(ngModel)]="model.fK_Inventory_ID" name="fK_Inventory_ID" id="fK_Inventory_ID" class="form-control validate">
                                    <option *ngFor="let x of spareparts" [ngValue]="x.id">{{x.name_EN}}</option>
                                </select> -->
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="fK_Technician_ID">
                                Technician
                                <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                            </label>
                            <select [(ngModel)]="model.fK_Technician_ID" name="fK_Technician_ID" id="fK_Technician_ID" class="form-control validate"
                                    required>
                                <option *ngFor="let x of technicians" [ngValue]="x.id">{{x.firstName}} {{x.lastName}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="fK_SparePartStatus_ID">
                                Status
                                <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                            </label>
                            <select [(ngModel)]="model.fK_SparePartStatus_ID" name="fK_SparePartStatus_ID" id="fK_SparePartStatus_ID" class="form-control validate"
                                    required>
                                <option *ngFor="let x of sparepartstatus" [ngValue]="x.id">{{x.statusName_EN}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right">
                                Capacity
                                <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                            </label>
                            <input type="text" class="form-control" name="capacity" [(ngModel)]="model.capacity">
                        </div>
                        <!--<div class="col-md-12" id="ForfleetNumber">
                            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-fleetNumber">
                                Transfer From
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" [(ngModel)]="transferFrom" name="fleetNumber" [matAutocomplete]="auto" class="form-control validate">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let fleet of vehicles | FilterQuery:model.fleetNumber" [value]="fleet.id">
                                    {{ fleet.fleetNumber }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>-->

                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="amount">
                                Amount
                                <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                            </label>
                            <input type="text" id="amount" [(ngModel)]="model.amount" name="amount" class="form-control validate" required>
                        </div>
                        <!--  <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="cost">Cost <span style="color:red;font-size: 20px;font-weight: 800;">*</span></label>
                            <input type="text" id="cost" [(ngModel)]="model.cost"  name="cost" class="form-control validate" required>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="saveUsedMaterial()" class="btn btn-primary" [disabled]="!model.technicianId || !model.sparePartStatusId || !model.amount">Add Lubricants</button>
                </div>
            </div>
        </div>
    </div>
