<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
        <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                <div class="modal-content container-fluid">
                        <div class="modal-header">
                                <h6 class="title">Update Job Card</h6>
                                <button type="button" class="close pull-right col-md-offset-9" (click)="hide()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <div class="row">
                                        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                                                <div class="col-md-12">
                                                        <label data-error="wrong" data-success="right" for="customer_Type">Customer name</label>
                                                        <select [(ngModel)]="model.customer_Type" name="customer_Type" id="customer_Type" class="form-control validate">
                                                            <option value="KCRM"> KCRM</option>
                                                            <option value="KCC"> KCC</option>
                                                            <option value="STERLING"> STERLING General Trading & Contracting Co.</option>
                                                        </select>
                                                </div>
                                                <div class="col-md-12">
                                                        <label>Date In</label>
                                                        <input [matDatepicker]="myDatepicker" class="form-control col-md-11" placeholder="dd-mm-yyyy" name="date_In" [(ngModel)]="model.date_In"
                                                        (focus)="myDatepicker.open()" (click)="myDatepicker.open()">
                                                        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                                </div>
                                                <div class="col-md-12">
                                                        <label>Date Out</label>
                                                        <input [matDatepicker]="Datepicker2" class="form-control col-md-11" placeholder="dd-mm-yyyy" name="date_Out" [(ngModel)]="model.date_Out"
                                                                [min]="model.date_In" (focus)="Datepicker2.open()" (click)="Datepicker2.open()">
                                                        <mat-datepicker-toggle [for]="Datepicker2"></mat-datepicker-toggle>
                                                        <mat-datepicker #Datepicker2></mat-datepicker>
                                                </div>
                                                <div class="col-md-12">
                                                        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="desc">Description</label>
                                                        <input type="text" id="desc" [(ngModel)]="model.desc" name="desc" class="form-control validate">
                                                </div>
                                                <!-- <div class="col-md-12">
                                                        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="fleetNumber">Fleet Number</label>
                                                        <select [(ngModel)]="model.fleetNumber" name="fleetNumber" id="fleetNumber" class="form-control validate">
                                                                <option *ngFor="let x of vehicles" [ngValue]="x.fleetNumber">{{x.fleetNumber}}</option>
                                                        </select>
                                                </div> -->
                                                <div class="col-md-12 hide" id="ForfleetNumber">
                                                        <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-fleetNumber">Fleet Number
                                                                <span style="color: red">*</span>
                                                        </label>
                                                        <input type="text" id="vehicle-fleetNumber" [(ngModel)]="model.fleetNumber" name="fleetNumber" [matAutocomplete]="auto" class="form-control validate">
                                                        <mat-autocomplete #auto="matAutocomplete">
                                                                <mat-option *ngFor="let fleet of vehicles | FilterQuery:model.fleetNumber" [value]="fleet.fleetNumber">
                                                                        {{ fleet.fleetNumber }}
                                                                </mat-option>
                                                        </mat-autocomplete>
                                                </div>
                                                <div class="col-md-12">
                                                        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driverempolye_Id">Driver</label>
                                                        <select [(ngModel)]="model.driverEmployeeId" name="driverEmployeeId" id="driverEmployeeId" class="form-control validate">
                                                                <option *ngFor="let x of drivers" [ngValue]="x.employeeId">{{x.employeeId}}</option>
                                                        </select>
                                                </div>
                                                <div class="col-md-12">
                                                        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driverempolye_Id">Service Type</label>
                                                        <select [(ngModel)]="model.fk_ServiceType_ID" name="fk_ServiceType_ID" id="fk_ServiceType_ID" class="form-control validate">
                                                                <option *ngFor="let x of serviceTypes" [ngValue]="x.id">{{x.serviceTypeName_EN}}</option>
                                                        </select>
                                                </div>
                                                <div class="col-md-12">
                                                        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="fK_Status_ID">Status</label>
                                                        <select [(ngModel)]="model.fK_Status_ID" name="fK_Status_ID" id="fK_Status_ID" class="form-control validate">
                                                                <option *ngFor="let x of status" [ngValue]="x.id">{{x.statusName_EN}}</option>
                                                        </select>
                                                </div>
                                                <div class="col-md-12">
                                                        <label style="margin-top:5px; margin-bottom:1px;" style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right"
                                                                for="comment">Comment </label>
                                                        <textarea class="form-control" [(ngModel)]="model.comment" name="comment" rows="5" id="comment"></textarea>
                                                </div>
                                        </form>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <div class="app-modal-footer">
                                        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                                        <button type="button" (click)="updateJobCard()" class="btn btn-primary">Update Job Card</button>
                                </div>
                        </div>
                </div>
        </div>
</div>