/* You can add global styles to this file, and also import other style files */
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/
@import "~ng-pick-datetime/assets/style/picker.min.css";

.mat-dialog-container .row{
    margin-top: -3%;
    margin-bottom: 3%;
}