<div class="main-content">
    <div class="container-fluid">
        <div class="row pull-right">
            <button class="btn btn-twitter" (click)="print()">
                <span class="fa fa-print"></span> Print</button>
        </div>

        <div id="print-section" *ngIf="types?.length > 0">
            <table class="table" style="margin-bottom:0;">
                <tr>
                    <td>
                        <h4 class="title col-md-10 reportTitle">Tools Inspections List</h4>
                    </td>
                    <td>
                        <a class="pull-right">
                            <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive">
                        </a>
                    </td>
                </tr>
            </table>

            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>S.N</th>
                                    <th>Tool Description</th>
                                    <th>Quantity</th>
                                    <th>Received Date</th>
                                    <th>Status: D:Damaged L:Lost</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of types;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.toolDescription}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.purchaseDate |date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.remarks}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 3%" *ngIf="types?.length > 0">
                <div class="col-md-12">
                    <p style="font-size:1em">Employee Name:</p>
                    <p style="font-size:1em">Signature:</p>
                </div>
                <div class="col-md-12" style="margin-top: 3%">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <td style="width:30%">Inspector Name</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date of Inspection</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Signature</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Next Inspection</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- <div class="row" style="margin-top: 3%">
                <div class="col-md-12">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Issue Date</th>
                                    <th>Version No./Date</th>
                                    <th>Page Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KCRM/MNT/FR/02</td>
                                    <td>13/5/2018</td>
                                    <td>V1/13/53208</td>
                                    <td>1/1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div> -->
        </div>
        <b *ngIf="types?.length == 0">no items found</b>

    </div>
</div>