<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content container-fluid">
            <div class="modal-body">
                <div class="row">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="files">OSP Work order</label>
                            <div class="card">
                                <label style="margin-top:5px; margin-bottom:1px; margin-left:5px" data-error="wrong" data-success="right"> Vendor: </label>
                                <div style="margin:5px;" class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-default btn-file form-control form-control-sm validate">
                                        <input type="file" id="files" (change)="handleFileSelect($event)" [(ngModel)]="model.files" name="files" multiple="multiple" />
                                    </span>
                                    <span class="fileinput-filename"></span>
                                </div>
                                <div style="margin:5px;">
                                    <label style="margin-top:5px; margin-bottom:1px; margin-left:5px" data-error="wrong" data-success="right"> Vendor Name: </label>
                                    <select (change)="getfK_Vendor_ID($event)" name="vendorId" id="fK_Vendor_ID" class="form-control form-control-sm">
                                        <option [ngValue]="0"></option>
                                        <option *ngFor="let x of vendors" [ngValue]="x.id">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="saveAttachments(0)" class="btn btn-primary" [disabled]="!model.files">Add Vendor</button>
                </div>
            </div>
        </div>
    </div>
</div>