<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h6 style="margin-left:-48px;">Add User</h6>
                <button type="button" class="close pull-right col-md-offset-9" (click)="hide()" aria-label="Close" style="margin-right:-40px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                        <div class="col-md-12">
                            <label data-error="wrong" data-success="right" for="register-firstName">First Name <span style="color: red">*</span></label>
                            <input type="text" id="register-firstName" [(ngModel)]="model.firstName" placeholder="First Name" name="firstName" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="register-lastName">Last Name <span style="color: red">*</span></label>
                            <input type="text" id="register-lastName" [(ngModel)]="model.lastName" name="lastName" placeholder="Last Name" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="register-phoneNumber">Phone Number <span style="color: red">*</span></label>
                            <input type="number" id="register-phoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber" placeholder="PhoneNumber" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="register-email">Your email <span style="color: red">*</span></label>
                            <input type="email" id="register-email" placeholder="user@company.com" [(ngModel)]="model.email" name="email" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="register-userName">User Name <span style="color: red">*</span></label>
                            <input type="text" id="register-userName" [(ngModel)]="model.userName" name="userName" placeholder="User Name" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="register-password">Your password<span style="color: red">*</span></label>
                            <input type="password" id="register-password" [(ngModel)]="model.password" name="password" class="form-control" require placeholder="P@ssw0rd">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="register-roleNames">Role <span style="color: red">*</span></label>
                            <select [(ngModel)]="model.roleNames" name="roleNames" id="register-roleNames" class="form-control" required>
                                <option value="0" disabled>Choose role of user</option>
                                <option *ngFor="let x of roles" [ngValue]="[x.name]">{{x.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="saveUser()" class="btn btn-primary"
                            [disabled]="!model.firstName || !model.lastName || !model.phoneNumber || !model.email || !model.userName || !model.password || !model.roleNames">
                        Add User
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>